:host {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.body-wrapper {
  display: flex;
  width: 100%;
}

.main-content {
  flex: 1;
  padding: 2rem;
  overflow-y: auto;
  background-color: #f8f9fa;
}
