.map-container {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;

  app-esri-map {
    width: 70%;
    height: 100%;
    flex-shrink: 0;
  }

  app-control-panel {
    width: 30%;
    height: 100%;
    flex-shrink: 0;
  }
}

// Responsive design
@media (max-width: 1200px) {
  .map-container {
    app-esri-map {
      width: 65%;
    }

    app-control-panel {
      width: 35%;
    }
  }
}

@media (max-width: 768px) {
  .map-container {
    flex-direction: column;

    app-esri-map {
      width: 100%;
      height: 60%;
    }

    app-control-panel {
      width: 100%;
      height: 40%;
    }
  }
}
